@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cachet Book";
    src: url("/fonts/cachetBook.woff2") format("woff2");
    src: url("/fonts/cachetBook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Cachet Bold";
    src: url("/fonts/cachetBold.woff2") format("woff2");
    src: url("/fonts/cachetBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
